---
import Section from "../Section.astro";
import { work } from "@cv";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
};
---

<Section title="Experience">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, url, skills }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Present";
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>

                <footer>
                  <ul class="summary-ul">
                    {summary.map((point) => (
                      <li class="summary-li">{point}</li>
                    ))}
                  </ul>

                  <div class="skills">
                    {skills &&
                      skills.map((skill) => <span class="tag">{skill}</span>)}
                  </div>
                </footer>
              </article>
            </li>
          );
        },
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #555;
    font-weight: 500;
    font-size: 14px;
    padding-top: 4px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  .summary-ul {
    padding-top: 6px;
    padding-left: 20px;
    list-style-type: disc;
    color: #555;
    font-size: 0.75rem;
    gap: 8px;
  }

  .summary-li {
    line-height: 1.5;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
  }

  .tag {
    background: #eee;
    border-radius: 6px;
    color: #444;
    font-size: 0.7rem;
    font-weight: 570;
    padding: 0.2rem 0.6rem;
    font-family: monospace;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
